<!DOCTYPE html>
<html>
   <head>
      <title>Custom insertion example</title>
      <!-- specify source style files -->
      <link href="./sass/_base.scss" rel="stylesheet">
   </head>
   <body>
      <!-- specify source images -->
      <img src="../assets/img/natura.jpg" alt="Natura.jpg" />
      <img src="../assets/img/natale.jpg" alt="Natale.jpg" />
      <button class="hello-world-button">Ciao</button>
      <img id="asset-resource" />

      <!-- specify source script files -->
      <script src="./js/index.js" defer="defer"></script>
   </body>
</html>
